@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-slate-950 text-slate-200 overflow-hidden;
}

/* Custom Scrollbar */
.scrollable::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollable::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

.scrollable::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}